html, body{
    margin:0;
    padding:0;
}
@media only screen and (orientation : landscape){
div.picoTools{
    position:fixed;
}
}
@media only screen and (orientation : portrait){
div.picoTools{
    position:fixed;
}
}
div.picoLog{
    overflow: auto;
}
span{
    display:block;
}
